.container {
  // display: flex;
  // justify-content: center;
  .cocktail-list-item {
    padding: 0px;
    margin: 0px;
  }
  .cocktail-title {
    padding: 20px;
  }
  li {
    list-style: none;
  }
}
